* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid black; */
}

body{
  padding: 3rem 0;
  height: 100vh; 
  background: linear-gradient(180deg, #009688 15%, #dcdbd2 15%);;
  font-family: 'Josefin Sans', sans-serif;
}

img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.img-cont{
  width: 50px;
  height: 50px;
  margin-right: .5rem;
  overflow: hidden;
  background-color: white;
  border-radius: 50%;
}

.flex{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.j-center{
  justify-content: center;
}

.j-start{
  justify-content: flex-start;
}

.ai-start{
  align-items: flex-start;
}

.as-end{
  align-self: flex-end;
}

input:focus{
  outline: none;
}

input::placeholder{
  color: #6a7376;
  font-family: 'Josefin Sans', sans-serif;
}

#app {
  display: flex;
  flex-wrap: nowrap;
  width: 70%;
  height: 100%;
  margin: auto;
  min-width: 650px;
  background-color: whitesmoke;
  overflow: hidden;
  border-radius: 15px;
  /* credits to box.shadows.co */
  box-shadow: rgba(17, 17, 26, 0.4) 0px 0px 16px;
}

.sidebar{
  flex-direction: column;
  align-items: stretch;
  width: 350px;
  height: 100%;
}

.sidebar .img-cont,
.box-sh{
  box-shadow: rgba(17, 17, 26, 0.3) 0px 0px 16px;
}


main.content{
  flex-direction: column;
  align-items: stretch;
  flex-grow: 1;
}

.account,
.chat-head{
  background-color: #eaeaea;
}

.chat-head{
  border-left: 2px solid #b1b1b1;
}

.account i,
.chat-head i{
  color: #b1b1b1;
  font-size: 1rem;
  font-weight: bold;
  margin-right: .9rem;
}

.top-side .banner{
  background-color: #8edafc;
}

.top-side .banner i{
  color: #8edafc;
}

.top-side .banner p{
  font-size: .9rem;
}

.top-side .banner a{
  color: grey;
  font-size: .8rem;
}

.top-side .search-bar{
  position: relative;
  padding: .25rem;
  background-color: #e9ebeb;
}

.top-side .search-bar i{
  position: absolute;
  left: 1.5rem;
  color: #b1b1b1;
}

.top-side #search{
  border: none;
  border-radius: 5px;
  padding: .5rem 3rem;
}

.top-side #search,
#newText{
  width: 100%;
  margin: .25rem;
}

.contact,
.account,
.banner{
  padding: .75rem .75rem;
  cursor: pointer;
}

.contact:hover{
  background-color: #e9ebeb8d;
}

.contact-info{
  flex-wrap: wrap;
}

.contact-list{
  overflow-y: auto;
}

.contact-list .active-contact{
  background-color: #e9ebeb;
}

.contact-name{
  margin-bottom: .5rem;
}

.lastMsg{
  font-size: .8rem;
  color: #b1b1b1;
}

.lastMsg-time{
  font-size: .7rem;
  color: #b1b1b1;
  align-self: flex-start;
}

.message-window{
  position: relative;
  flex-grow: 1;
  background-image: url('/img/mine.jpg');
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;
  overflow-y: auto;
}

.chat-head-head .img-cont{
  background-color: #eaeaea;
}

.user-info-detail{
  font-size: .8rem;
  color: #6a7376;
  padding-top: .25rem;
}

.message{
  max-width: 90%;
  position: relative;
  margin: .25rem 0;
  padding: .75rem 1rem 0rem .75rem;
  border-radius: 10px;
  background-color: white;
}

.message p{
  margin-bottom: 1.5rem;
}

.message i{
  margin-left: 1rem;
  align-self: flex-start;
}

.msg-popup{
  width: 140px;
  padding: .66rem 1rem 0;
  border-radius: 10px;
  background-color: #eaeaea;
  z-index: 1;
}

.msg-popup.right{
  position: absolute;
  top: 2rem;
  right: 5px;
}

.msg-popup.left{
  position: absolute;
  top: 2rem;
  left: 5px;
}

.msg-popup p{
  margin-bottom: .66rem;
  cursor: pointer;
}

.msg-popup p:hover{
  color: #6a7376;
  scale: 1.04;
}

.msg-info{
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(17, 17, 26, 0.4);
}

.msg-info-box{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  flex-direction: column;
  background-color: #e9ebeb;
  border-radius: 10px;
  padding: .5rem ;
  /* credits to box.shadows.co */
  box-shadow: rgba(17, 17, 26, 0.6) 0px 0px 16px;
}

.msg-info-box p{
  margin: 0 .75rem 1rem;
}

.msg-info-box i{
  color: #6a7376;
}

.msg-info-box .fa-circle-xmark{
  font-size: 1.2rem;
  margin-bottom: .75rem;
}

.msg-info-box i:hover{
  color: black;
  scale: 1.05;
}

.msg-info-box .ic-wrapper{
  justify-content: space-around;
  width: 100%;
  font-size: 1.2rem;
  margin-bottom: .75rem;
}

.msg-time{
  position: absolute;
  bottom: 5px;
  right: 5px;
  color: #b1b1b1;
  font-size: .6rem;
}

.sent{
  align-self: flex-end;
  background-color: #d5f9ba;
}

.message p.italic{
  font-style: italic;
  color: #6a7376;
  margin-bottom: .75rem;
}

.message-input{
  background-color: #f3eeea;
}

#newText{
  border-radius: 10px;
  border: none;
  padding: .5rem 1.5rem;
  margin: .5rem 0;
}

.message-input i{
  color: #6a7376;
  font-size: 1.1rem;
  width: 90px;
  text-align: center;
}

.message-input .fa-paper-plane{
  font-size: .9rem;
}

body i:hover{
  scale: 1.2;
  cursor: pointer;
}

.emoji-menu{
  flex-direction: column;
  position: absolute;
  bottom: 1rem;
  left: 1.2rem;
  width: 260px;
  padding: .5rem;
  border-radius: 10px;
  background-color: #f3eeea;
  font-size: 1.2rem;
  box-shadow: rgba(17, 17, 26, 0.3) 0px 0px 18px;
}

.emoji-menu-head{
  border-bottom: 1px solid #dcdbd2;
  padding-bottom: .25rem;
  margin-bottom: .25rem;
}

.emoji-menu-head div,
.emoji-menu-list div{
  padding: 0 .25rem;
  margin-bottom: .25rem;
  cursor: pointer;
}

.emoji-menu-head div:hover,
.emoji-menu-list div:hover{
  scale: 1.25;
}

.emoji-menu-list{
  padding: .25rem 0;
  flex-wrap: wrap;
}

@media (max-width: 1400px) {
  #app{
    width: 80%;
  }  
}

@media (max-width: 1600px) {
  #app{
    width: 75%;
  }  
}