* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid black; */
}

body{
  padding: 3rem 0;
  height: 100vh;
  background-image: url('/img/background-whatsapp.jpg');
  font-family: 'Josefin Sans', sans-serif;
}

img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.img-cont{
  width: 50px;
  height: 50px;
  margin-right: .5rem;
  overflow: hidden;
  background-color: white;
  border-radius: 50%;
}

.flex{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.j-center{
  justify-content: center;
}

.j-start{
  justify-content: flex-start;
}

input:focus{
  outline: none;
}

#app {
  display: flex;
  flex-wrap: nowrap;
  width: 60%;
  height: 100%;
  margin: auto;
  min-width: 650px;
  background-color: whitesmoke;
  overflow: hidden;
  border-radius: 15px;
  /* credits to box.shadows.co */
  box-shadow: rgba(17, 17, 26, 0.4) 0px 0px 16px;
}

.sidebar{
  flex-direction: column;
  align-items: stretch;
  width: 350px;
  height: 100%;
}

.account,
.chat{
  background-color: #eaeaea;
}

.content{
  flex-direction: column;
  align-items: stretch;
  flex-grow: 1;
}

.chat{
  border-left: 2px solid #b1b1b1;
}

.account i,
.chat i{
  color: #b1b1b1;
  font-size: 1rem;
  font-weight: bold;
  margin-right: .9rem;
}

.banner{
  background-color: #8edafc;
}

.banner i{
  color: #8edafc;
}

.banner p{
  font-size: .9rem;
}

.banner a{
  color: grey;
  font-size: .8rem;
}

.search-bar{
  position: relative;
  padding: .25rem;
  background-color: #e9ebeb;
}

.search-bar i{
  position: absolute;
  left: 1.5rem;
  color: #b1b1b1;
}

#search{
  border: none;
  border-radius: 5px;
  padding: .5rem 3rem;
}

#search,
#newText{
  width: 100%;
  margin: .25rem;
}

.contact,
.account,
.banner{
  padding: .5rem;
  cursor: pointer;
}

.contact:hover{
  background-color: #e9ebeb;
}

.contact-info{
  flex-wrap: wrap;
}

.contact-list{
  overflow-y: scroll;
}

.contact-list ul{
  padding-top: 1rem;
  list-style: none;
}

.contact-name{
  margin-bottom: .5rem;
}

.lastMsg{
  font-size: .8rem;
  color: #b1b1b1;
}

.lastMsg-time{
  font-size: .7rem;
  color: #b1b1b1;
  align-self: flex-start;
}

.message-window{
  flex-grow: 1;
  background-image: url('/img/mine.jpg');
  padding: 1rem .5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.chat .img-cont{
  background-color: #eaeaea;
}

.message{
  max-width: 60%;
  position: relative;
  margin: .25rem 0;
  padding: .75rem 2.5rem 1rem .75rem;
  border-radius: 10px;
  background-color: white;
}

.msg-time{
  position: absolute;
  bottom: 5px;
  right: 5px;
  color: #b1b1b1;
  font-size: .6rem;
}

.sent{
  align-self: flex-end;
  background-color: #d5f9ba;
}

.message-input{
  background-color: #f3eeea;
}

#newText{
  border-radius: 10px;
  border: none;
  padding: .5rem;
  margin: .5rem 0;
}

.message-input i{
  color: #6a7376;
  font-size: 1.1rem;
  padding: 0 2rem;
}

