<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>vue boolzapp</title>
  <!-- style -->
  <link rel="stylesheet" href="./css/style.css">
  <!-- icons -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <!-- font -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600&display=swap" rel="stylesheet">
</head>

<body>
  <!-- vuejs -->
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/luxon@3.4/build/global/luxon.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.2/axios.min.js" integrity="sha512-b94Z6431JyXY14iSXwgzeZurHHRNkLt9d6bAHt7BZT38eqV+GyngIi/tVye4jBKPYQ2lBdRs0glww4fmpuLRwA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  <div id="app">
    <aside class="sidebar flex j-start">
      <!-- top sidebar -->
      <div class="top-side">
        <div class="account flex">
          <div class="user-info flex">
            <div class="img-cont">
              <img :src="user.avatar" alt="profile pic">
            </div>
            <div class="user-info">
              <span>{{user.name}}</span>
            </div>
          </div>
          <div class="taskbar">
            <i class="fa-solid fa-circle-notch"></i>
            <i class="fa-regular fa-message"></i>
            <i class="fa-solid fa-ellipsis-vertical"></i>
          </div>
        </div>
        <!-- notification popup -->
        <div class="banner">
          <div class="user-info flex j-start" v-if="!alertOn">
            <div class="img-cont flex j-center">
              <i class="fa-regular fa-bell-slash" @click="turnAlert()"></i>
            </div>
            <div class="user-info">
              <p>Ricevi notifiche di nuovi messaggi</p>
              <a href="#" @click="turnAlert()">Attiva notifiche desktop</a>
            </div>
          </div>
          <div class="user-info flex j-start" v-else>
            <div class="img-cont flex j-center">
              <i class="fa-regular fa-bell" @click="turnAlert()"></i>
            </div>
            <div class="user-info">
              <p>Ricevi notifiche di nuovi messaggi</p>
              <a href="#" @click="turnAlert()">Disattiva notifiche desktop</a>
            </div>
          </div>
        </div>
        <!-- search bar -->
        <div class="search-bar flex">
          <i class="fa-solid fa-magnifying-glass"></i>
          <input type="text" id="search" name="search" v-model="searchingChat" @keyup="search"
            placeholder="Cerca o inizia una nuova chat">
        </div>
      </div>
      <!-- bottom sidebar -->
      <div class="contact-list">
        <div class="contact" :class=" activeIndex == index ?'active-contact':''" v-for="(contact, index) in sortedContacts" @click="selChat(index)" v-show="contact.visible">
          <div class="contact-container flex" >
            <div class="contact-info flex">
              <div v-if="contact.avatar" class="img-cont">
                <img :src="contact.avatar" alt="contact pic">
              </div>
              <div v-else class="img-cont">
                <img src="./img/blank-profile.jpg" alt="contact pic">
              </div>
              <div class="contact-info">
                <p class="contact-name">{{contact.name}}</p>
                <p class="lastMsg">{{ contact.messages.length > 0 ? shortShowMsg(lastMsg(contact).message) : ''}}</p>
              </div>
            </div>
            <span class="lastMsg-time">{{ contact.messages.length > 0 ? dateToHour(lastMsg(contact).date) : ''}}</span>
          </div>
        </div>
      </div>
    </aside>
    <!-- chat display -->
    <main class="content flex">
      <!-- chat top-bar -->
      <div class="chat-head">
        <div class="contact flex">
          <div class="contact-info flex">
            <div class="img-cont" :class="(contacts[activeIndex].avatar) ? 'box-sh':''">
              <img v-show="contacts[activeIndex].avatar" :src="contacts[activeIndex].avatar" alt="profile pic">
            </div>
            <div class="user-info">
              <p v-show="contacts[activeIndex].name">{{contacts[activeIndex].name}}</p>
              <p class="user-info-detail" v-if="lastReceived.length">Ultimo accesso alle {{lastSeen}}</p>
            </div>
          </div>
          <div class="taskbar">
            <i class="fa-solid fa-magnifying-glass"></i>
            <i class="fa-solid fa-paperclip"></i>
            <i class="fa-solid fa-ellipsis-vertical"></i>
          </div>
        </div>
      </div>
      <!-- chat box -->
      <div class="message-window flex j-end ai-start">
        <div class="message flex" v-for="(text, index) in openChat"
          :class=" (text.status == 'sent') ? 'sent' : '' " v-show="!text.removedMsg">
          <p :class="(text.deletedMsg) ? 'italic': ''">
            {{text.message}}
          </p>
          <i class="fa-solid fa-angle-down" @click="openMsgMenu(text)" v-show="!text.deletedMsg"></i>
          <span class="msg-time" v-if="!text.deletedMsg">{{ openChat.length > 0 ? dateToHour(text.date) : ''}}</span>
          <!-- msg popup -->
          <div class="msg-popup" :class=" {left: isReceived(text), bottom: isBottom(index)}" v-show="text.msgMenu" @mouseleave="openMsgMenu(text)">
            <p @click="selMsg(text, index)">Message info</p>
            <p @click="deleteMsgForMe(text)">Delete for me</p>
            <p @click="deleteMsgForAll(text)">Delete for all</p>
          </div>
        </div>
        <!-- msg info popup -->
        <div v-if="selectedMsg.msgInfo" class="msg-info">
          <div class="msg-info-box flex ai-start" @mouseleave="selectedMsg.msgInfo = !selectedMsg.msgInfo">
            <i class="fa-regular fa-circle-xmark as-end" @click="selectedMsg.msgInfo = !selectedMsg.msgInfo"></i>
            <p v-if="selectedMsg.status == 'received'">Chat con: {{contacts[activeIndex].name}}</p>
            <p v-else>Inviato da te</p>
            <p>Stato: {{selectedMsg.status}}</p>
            <p>{{selectedMsg.date}}</p>
            <div class="ic-wrapper flex">
              <i class="fa-solid fa-eraser" @click="deleteMsgForMe(infoMsg)"></i>
              <i class="fa-solid fa-trash" @click="deleteMsgForAll(infoMsg)"></i>
            </div>
          </div>
        </div>
        <!-- emoji popup -->
        <div class="emoji-menu flex" v-show="emojiMenu" @mouseleave="openEmojiMenu()">
          <div class="emoji-menu-head flex">
            <div v-for="(item, index) in emojiArray" @click="selEmojiMenu(index)">{{item.emojiSection}}</div>
          </div>
          <div class="emoji-menu-list flex j-start">
            <div v-for="emoji in emojiArray[emojiIndex].emojis" @click="addEmojiToNewMessage(emoji.character)">{{emoji.character}}</div>
          </div>
        </div>
      </div>
      <!-- input bar -->
      <div class="message-input flex j-start">
        <i class="fa-regular fa-face-smile" @click="openEmojiMenu()"></i>
        <input type="text" v-model="newMessage" id="newText" name="newText" @keydown.enter="sendMessage(newMessage)" placeholder="Scrivi un nuovo messaggio">
        <i class="fa-solid fa-microphone" v-if="!newMessage"></i>
        <i class="fa-regular fa-paper-plane" v-else @click="sendMessage(newMessage)"></i>
      </div>
    </main>
  </div>

  <script src="./js/script.js" type="module"></script>
</body>

</html>